<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inspur.blockchain">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:name=".app.BlockChainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">

        <activity android:name=".main.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity">

        </activity>
        <activity android:name=".welcome.WelcomeActivity"
            android:theme="@style/WelcomeAppTheme">

        </activity>
        <activity android:name=".ScanActivity"
            android:screenOrientation="fullSensor"/>
        <activity android:name=".DigitalIdentityQrCodeActivity" />
        <activity android:name=".voucher.VoucherListActivity" />
        <activity android:name=".voucher.RequestVoucherActivity">

        </activity>
        <activity android:name=".recognize.FaceRecognizeActivity"
            android:theme="@style/MainTheme">

        </activity>
        <activity android:name=".voucher.VoucherDetailActivity" />
        <activity android:name=".ScanShowVoucherDetailActivity" />
        <activity android:name=".voucher.receive.ReceiveVoucherSettingsActivity" />
        <activity android:name=".voucher.receive.ReceiveVoucherQrCodeActivity" />
        <activity android:name=".voucher.receive.ScanShowRequestPropertiesActivity" />
        <activity android:name=".voucher.HistoryListActivity" />
        <activity android:name=".voucher.VerifyRecordDetailActivity" />
    </application>

</manifest>